@using PhotoGallery.Helpers
@model PhotoGallery.Services.DataObjects.ListOfPhotosDto

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("DeleteSelected", "Photos"))
{
    <input type="submit" value="Delete Selected" />
    @Html.Partial("_PhotoList", Model)
}
@section Scripts{
    @Scripts.Render("~/bundles/photos")
}
