@using PhotoGallery.Helpers
@model List<PhotoGallery.Services.DataObjects.PhotoDto>

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_PhotoList", Model)