@model List<PhotoGallery.Domain.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-sm-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href='@Url.Action("Details", "Albums", new { albumName = item.Name.Replace(" ", "-")})' class="thumbnail">
                    <p>Chrysanthemum</p>
                    <img src='@Url.Action("ShowThumbPhoto", "Photos", new {id = item.MainPhoto.PhotoId})'
                                          alt="@item.Description" />
                </a>
            </div>
        }
    </div>
</div>

